.imall_table { 
	border-collapse:collapse; 
}

.imall_table h1 {
	font-size: 14px; 
	width: 380px;
}

.imall_table tr {
	height: 70px;
	padding: 5px 3px 5px 3px; 
	border-collapse:collapse; 
}

.imall_table td {
	vertical-align: top;
	padding: 5px 3px 5px 3px;
	border-bottom: 1px solid #cccccc;
	border-collapse:collapse; 
}
.imall_table_image {
	width: 110px;
	height: 84px;
	text-align: center;
}
.imall_table_image img {
	max-height: 80px;  
    max-width: 100px;  
    display: block;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;  
}

.imall_table a {
	
}


.jun_half_box {
	width: 49%;
	float: left;
}

.jun_view_iprihatin {
	width: 97%;
	border: 1px solid #D2D2D2;
	background: #fff;
	padding: 5px;
	margin: 10px 5px 5px 5px;
	overflow: hidden;
}
.body_text{word-wrap:break-word;text-align:justify;width:100%;display:block}
.jun_view_iprihatin h2 {
	margin: 10px 5px 5px 5px;
}

.jun_view_iprihatin img {
	width: 675px; 
	margin: 10px auto;
	text-align: center;
}

.jun_view_iprihatin p {
	float: left;
	width: 48%;
}

.jun_view_iprihatin textarea {
	max-width: 663px;
	min-width: 663px;
	float: left;
	margin-top: 10px;
	min-height: 120px;
	padding: 5px;
}

.jun_view_iprihatin pre {
	margin: 20px 1px 5px 1px;
	width: 610px;
	font-family: Arial, sans-serif;	
	font-size: 11px;
}

.jun_messages {
	width: 700px; 
	margin-top: 8px;
	max-height: 450px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.jun_messages p {
	float: left;
	width: 300px;
	font-size: 11px;
	font-weight: bold;
}

.jun_messages a {
	float: left;
	width: 500px;
	font-weight: bold;
}

.jun_messages pre {
	font-family: Arial, sans-serif;	
	font-size: 12px;
	margin-top: 16px;
	margin-left: 45px;
	width: 80%;
	
	line-height:130%;
	white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

.jun_messages img {
	width: 35px;
	height: 35px;
	float: left;
	margin-right: 10px;
}



.jun_reply_message {
	width: 100%;
	border: 1px solid #D2D2D2;
	background: #fff;
	margin: 10px 4px 5px 0;
	overflow: hidden;
}

.jun_reply_message textarea {
	min-width: 621px;
	max-width: 621px;
	min-height: 60px;
	margin: 10px 0 0 40px;
	padding: 2px 3px 2px 3px;
}

.jun_reply_message input[type="submit"] {
	float: right;
	margin: 5px 25px 5px 5px;
	
}

.jun_reply_message input[type="text"] {
	float: left;
	margin: 10px 0 0 40px;
	padding: 2px 3px 2px 3px;
}

.jun_reply_message input[type="file"] {
	float: left;
	margin: 10px 0 0 40px;
	padding: 2px 3px 2px 3px;
	width: 98%;
}

/* Auto complete */

/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}
 
/* loading - the AJAX indicator */
.ui-autocomplete-loading {
    background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}
 
/* scroll results */
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding for vertical scrollbar */
    padding-right: 5px;
}
 
.ui-autocomplete li {
    font-size: 12px;
}
 
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 250px;
}

/* Auto complete */

.jform_post {
	margin: 7px;
}


.jun_menu_top {
	width: 98%;
	float: left;
	padding: 5px 5px 5px 5px;
}

.jun_menu_top li {
    list-style: none;
	float: left;
	padding: 2px 5px 2px 5px;
}

.box {
	border: 1px solid #C3C3C3;
	width: 154px;
	padding: 4px 2px 4px 2px;
	height: 140px;
	margin: 10px 5px 5px 5px;
	float: left;
}

.red_bg {
	background: #FF5555;
}

.green_bg {
	background: #3AB90F;
}

.full_box {
	border: 1px solid #C3C3C3;
	width: 98%;
	padding: 4px 5px 4px 5px;
	min-height: 60px;
	margin: 10px 5px 5px 5px;
	float: left;
}

.big_box {
	border: 1px solid #C3C3C3;
	width: 49%;
	padding: 4px 5px 4px 5px;
	min-height: 60px;
	margin: 10px 5px 5px 5px;
	float: left;
}

.jun_label {
	width: 94%;
	border: 1px solid #cecece;
	float: left; 
	margin: 10px 2px 10px 2px;
	overflow: hidden;
	padding: 5px 10px 5px 10px;
	font-size: 12px;
	background: #fff;
}

.jun_label label {
	float: left;
	width: 690px;
	padding: 8px 5px 8px 5px;
	border-bottom: 1px solid #F4F4F4;
}

.jun_label label:hover {
	background: #eceff6;
}

.jun_label h2 {
	width: 280px;
	float: left;
}

.jun_label li {
	list-style: none;
	float: right;
	padding: 6px 0 0 10px;
}
.jun_label label p {
	width: 180px;
	float: left;
	font-weight: bold;
}

.jun_label input[type="text"] {
	padding: 3px 3px 3px 3px;
}

.jun_label input[type="submit"] {
	float: left;
	margin-left: 20px;
}
/*
.jun_label label p {
	width: 90px;
	float: left;
	font-weight: bold;
}
*/
.box h4 {
    margin-top: 8px;
	text-align: center;
}
.box img {
	display: block;
	margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    min-width: 70px;
}
.space_left {
	margin-left: 10px;
}
div .successMessage {
	border: 2px solid #51D026;
	background: #EAF5A9;
	color: #51D026;
	font: bold 14px Arial;
	height: 18px;
	padding: 3px 5px 3px 5px;	
}
div .errorMessage  {
	border: 2px solid #B70D0D;
	background: #FFD4D4;
	color: #B70D0D;
	font: bold 14px Arial;
	height: 18px;
	padding: 3px 5px 3px 5px;
}

.jun_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:3px 6px;
	margin:3px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
	
}
.jun_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}

.jun_button:active {
	position:relative;
	top:1px;
}

.jun_button_current {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1F3D69), color-stop(1, #1A3257));
	background:-moz-linear-gradient(top, #1F3D69 5%, #1A3257 100%);
	background:-webkit-linear-gradient(top, #1F3D69 5%, #1A3257 100%);
	background:-o-linear-gradient(top, #1F3D69 5%, #1A3257 100%);
	background:-ms-linear-gradient(top, #1F3D69 5%, #1A3257 100%);
	background:linear-gradient(to bottom, #1F3D69 5%, #1A3257 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1F3D69', endColorstr='#1A3257',GradientType=0);
	background-color:#1F3D69;
}

.jcontent {
    float: left;
	width: 520px;
	margin-top: 40px;
	border: 1px solid #ccc;
}

.jun_view {
	margin: 7px;
	text-align: left;
}

.jun_view label {
	width: 500px;
	float: left;
	margin-left: 200px;
}

.jun_view label p {
	width: 180px;
	float: left;
	padding-top: 5px;
}
/*
.jun_view table {
	width: 100%;
	border: 1px solid #7FAAFF;
	border-collapse: collapse;
	margin-top: 10px;
}

.jun_view table tr:nth-child(even) {background: #E1E1E1}
.jun_view table tr:nth-child(odd) {background: #FFF}

.jun_view table th {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
	color: #ffffff;
	font-size: 12px;
	padding: 5px 5px 5px 5px;
}

.jun_view table td {
	padding: 5px 5px 5px 5px;
	border: 1px solid #7FAAFF;
}
*/

.jun_view table a:link {
	color: #4B4B4B;
	font-weight: bold;
	text-decoration:none;
	text-align: left;
}
.jun_view  table a:visited {
	color: #3C3C3C;
	font-weight:bold;
	text-decoration:none;
}
.jun_view table a:active,
.jun_view table a:hover {
	color: #000;
	text-decoration:none;
}
.jun_view table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	width: 99%;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:2px auto 2px auto;
	border:#ccc 1px solid;
    border-collapse: collapse;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.jun_view table th {
	padding:6px 6px 6px 6px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.jun_view table th:first-child {
	text-align: left;
	padding-left:20px;
}
.jun_view table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.jun_view table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.jun_view table tr {
	text-align: left;
	padding-left:20px;
}
.jun_view table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
.jun_view table td {
	padding:5px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.jun_view table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.jun_view table tr:last-child td {
	border-bottom:0;
}
.jun_view table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.jun_view table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.jun_view table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}
.example{
    background: #f7f7f7;  
    width: 500px; 
    min-height: 30px;
    border-left: 1px solid #C3C3C3;
    border-bottom: 1px solid #C3C3C3;
    border-right: 1px solid #C3C3C3;
    border-top: 1px solid #cccccc;
    margin-top: -3px;
    margin-left: 2px;

}

.j_upload {
	width: 40px; /*play with this value */
    height: 30px; /*play with this value */
    background: url('../img/icons/upload.png') 5px 0 no-repeat;
    border:none;

    float: left;
 
    border-right: 1px solid #cccccc;
}

.j_place {
	width: 40px; /*play with this value */
    height: 30px; /*play with this value */
    background: url('../img/icons/place.png') 5px 0 no-repeat;
    border:none;

    float: left;
    overflow:hidden;
    border-right: 1px solid #cccccc;
}

.j_place:hover {
    background: #ccc url('../img/icons/place.png') 5px 0 no-repeat;
}

.j_place select {
    margin-left:-25px; /*play with this value */
     opacity:0; /* set to .5 or something so you can better position it as an overlay then back to zero again after you're done */
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.j_cat {
	width: 40px; /*play with this value */
    height: 30px; /*play with this value */
    background: url('../img/icons/cat.png') 13px 7px no-repeat;
    border:none;

    float: left;
    overflow:hidden;
    border-right: 1px solid #cccccc;
}

.j_cat:hover {
    background: #ccc url('../img/icons/cat.png') 13px 7px no-repeat;
}

.j_cat select {
    margin-left:-25px; /*play with this value */
     opacity:0; /* set to .5 or something so you can better position it as an overlay then back to zero again after you're done */
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.j_upload:hover {

    background: #ccc url('../img/icons/upload.png') 5px 0 no-repeat;
}

.example input[type="file"] {
    margin-left:-125px; /*play with this value */
     opacity:0; /* set to .5 or something so you can better position it as an overlay then back to zero again after you're done */
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.example input[type="submit"] {
   float:right;
   color: #fff;
   font-weight: bold;
   background: #1D72C7;
   border: 1px solid #1641EB;
   margin-top: 4px;
   margin-right: 4px;
   padding: 2px 9px 2px 9px;
}

.example input[type="submit"]:hover {
   background: #557FFF;
   border: 1pz solid #1641EB;
}

#example {
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	color: #333333;
	margin: 2px;
	font-size: 11px;
}

.newUpload input[type="file"] {
    padding: 20px 0 40px 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    margin-top: -23px;
	margin-left:-8px; /*play with this value */
    opacity:0.2;   /*set to .5 or something so you can better position it as an overlay then back to zero again after you're done*/ 
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.uploadButton {
	width: 100px;
	border: 1px solid #557FFF;
	height: 100px;
    margin-left: 10px;
	float: left;
	background: #ccc url('../images/new_upload.png') 8px 0 no-repeat;
}

#previewImage img {
	width: 100px;
	padding: 0 5px 5px 9px;
	float: left;
}

#previewImageTwo img {
	width: 100px;
	padding: 1px 5px 5px 9px;
	float: left;
	margin-left: -110px;
	z-index: 2;
}

#previewImageThree img {
	width: 100px;
	padding: 0 5px 5px 9px;
	float: left;
}

#previewImageFour img {
	width: 100px;
	padding: 0 5px 5px 9px;
	float: left;
}
/**/
.section-header label {
	width: 680px;
	float: left;
	padding: 10px 10px 10px 10px;
}


.section-header ul {
	width: 72%;
	float: left;
	margin-top: 20px;
}


.section-header li {
	border-bottom: 1px solid #f7f7f7;
	float: left;
	overflow: hidden;
	width: 100%;
	padding: 5px 0 2px 0;
}

.jun_list_thumb {
	width: 135px;
	height: 110px;
	float: left;
	
}

.jun_list_thumb img {
	display: block;
	margin: 0 auto 0 auto;
}

.jun_lists h3 {
	width: 570px;
	font-size: 16px;
	float: left;
}
.jun_pagination {
	float: left;
}
.section-header li a{
	float: left;
}

.section-header li {
	
}

.section-header li {
	
}

a {
	color: #3b5998;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
.jun_view_ads {
	padding: 2px 2px 2px 2px;
	width: 1000px;
	overflow: hidden; 
}

.section-header {
    width: 1000px;
    text-align: left;
    margin-bottom: 10px;
    overflow: hidden;
}



.line {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 10px;
}



.jun_left_menu {
	background: #fff;
}
.jun_left {
	width: 21%;
	float: left;
	text-align: left;
	padding: 5px 3px 5px 3px;
	background: #2871C1; 
	border: 1px solid #1C47C6;
}

.jun_left h2 {
	color: #f7f7f7;
	margin-bottom: 8px;
}

.jun_left p {
	padding: 2px 2px 2px 2px;
	text-align: justify;
}
/*
.jun_left ul, p {
   text-transform: capitalize;
}
*/
.jun_left li {
	font-size: 12px;
	font-weight: normal;
	color: #3b5998;
	padding: 4px 5px 5px 5px; 
}


.jun_left li:hover {
	background: #f7f7f7;
}

.jun_left li img {
    vertical-align: middle;
	width: 20px;
	height: 18px;
	margin-right: 6px;
}

.jun_left li a {
	color: #3b5998;
	text-transform: capitalize;
}
.jun_left img {
	width: 80px;
}

.jun_right {
	float: left;
	width: 76%;
	display: block;
	min-height: 300px;
	text-align: left;
	margin-left: 11px;
	
}

.jun_right h2 {
	color: #333333;
	font-size: 18px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	padding: 5px 5px 5px 5px;
}

.jun_map { 
	margin: 10px 38px 10px 38px;
}

.jun_top_ads {
	margin-left: 2px;
	background: #f7f7f7;
	border: 1px solid #d4dae8;
	width: 640px;
	padding: 5px 10px 5px 10px;
}

#jun_images {
	position: relative;
	height: 487px;
	width: 652px;
	border: 5px solid #cccccc;
	float: left;
	background: #F2F4F7;
	background: url(../img/ajax-loader.gif) 50% 50% no-repeat;
}

#jun_images img {
	max-height: 483px;
	max-width: 652px;
	position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
	
}

.jun_highlight {
	border: 1px solid #0282D7;
}

.thumbImage {
	height: 100px;
	background: #eceff6;
	border: 1px solid #d4dae8;
}

.thumbImage ul li {   
    height: 90px;
    width: 100px;
    position: relative;
    float: left;
}

.thumbImage ul li img {
    max-height: 90px;  
    max-width: 100px;  
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;  
}
.jun_text_on_form .green {
	color: #368B0B;
}

.jun_text_on_form .yellow {
	color: #FFD400;
}

.jun_text_on_form .red {
	color: #E30E0E;
}

.jun_post_about {
	border: 1px solid #cccccc;
	min-height: 130px;
	padding: 5px 5px 5px 5px;
	
}

.jun_post_about p{ 
	width: 600px;
	float: left;
	font-weight: bold;
	padding: 3px 2px 3px 2px;
}

.jun_post_about span { 
	width: 100px;
	float: left;  
}



.jun_post_addons {
	width: 200px;
	float: left;
	min-height: 40px;
	margin-top: 20px;
}

.jun_post_body pre, .jun_right pre { 
	white-space:pre-line;       /* css-3 */
	white-space: -moz-pre-line;  /* Mozilla, since 1999 */
	white-space: -pre-line;      /* Opera 4-6 */
	white-space: -o-pre-line;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	margin-top: 20px;
}

.pagination {
	overflow: hidden;
}

.pagination a {    
    margin: 20px 0 30px 2px;    
	padding: 4px;    
	border: 1px solid #AAA;    
	color: #333;    
	text-decoration: none;    
	margin-right: 2px;    
	display: block;    
	float: left;    
	-webkit-border-radius: 6px;    
	-moz-border-radius: 6px;    
	border-radius: 6px; 

}

.pagination a.navigation {    
	width: 16px;    
	background-position: center center;    
	background-repeat: no-repeat;    
	text-indent: -9000px;    
	border: 1px solid #000;    
	overflow: hidden;    
}/* hack for transparent borders in IE6 */

.pagination a.navigation {    
	border-color: #000001;    
	filter: chroma(color=#000001);    
}/* hovered links */

.pagination a:hover {    
    background-color: #DEDEDE;    
	color: #222;
}
/* specific attributes for the "next page" and "previous page" links */

.pagination a.left { 
    background-image: url(../img/larrow.png) 
}

.pagination a.right { 
    background-image: url(../img/rarrow.png) 
}

/*  currently selected page; also, the current page doesn't need a hover effect */

.pagination a.current,.pagination a.current:hover {    
	background: #0094D6;    
	border-color: #0094D6;    
	color: #FFF;
 }

/* the "..." separator */

.pagination span {   
	 color: #666;    
	 margin-right: 2px; 
	 margin-top: 20px;  
	 float: left;    
	 padding: 8px 4px;    
	 vertical-align: bottom;
	 width: 20px; 
 }

/* disabled links 

a.disabled {    filter: alpha(opacity=20);    -khtml-opacity: 0.2;    -moz-opacity: 0.2;    opacity: 0.2}*/
.header {
	height: 40px;
	width: 100%;
	background: #0D91F2;
	position: fixed;
	float: left;
}

.imanagement_menu {
	width: 970px;
	float: left;
	padding: 4px 5px;
}
.search_form {
	min-width: 400px;
	border: 1px solid #B4B4B4;
	float: left;
	background: #E1E1E1;
	padding: 4px 5px;
	margin: 10px 0px 10px 2px;
}
.right {
	margin-left: 10px;
}
.search_form input[type="text"] {
	min-width: 160px;
	padding: 2px 2px 2px 2px;
}
.search_form select {
	width: 170px;
	padding: 2px 2px 2px 2px;
	margin-left: 8px;
}
.search_form input[type="submit"] {
	padding: 2px 2px 2px 2px;
	margin-left: 8px;
}

.posts {
	width: 100%;
	vertical-align: top;
}
.posts td {
	vertical-align: top;
}

.posts tr {
	border-bottom: 1px solid #cccccc;
	margin-top: 10px;
}
.posts a {
	text-decoration: none;
	font: bold 16px Arial;
}
.posts img {
	width: 90px;
}
.header ul {
	width: 980px;
	margin: 0 auto;
}

.header ul li {
	float: left;
	padding: 10px 10px 0 10px;
	
}

.header ul li a {
	color: #fff;
	font: bold 14px Arial;
	text-decoration: none;
}

.header ul li a:hover {
	color: #E1E1E1;
}

.content {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	background: #EEEFF0;
    padding: 5px 5px 5px 5px;
    border: 1px solid #C3C3C3;
}


.main_search_form input[type="text"] {
	width: 230px;
}

.parent_category {
	background: #FFD4AA;
}


/* ---------------- Jun.my---------------------------*/
* {
    margin: 0;
    outline: 0 none;
    padding: 0;
}



body {
	font-family: arial, sans-serif;
	background: url(../img/body_bg.jpg) repeat;
}

p {
	font-size: 12px;
}

div#logo {
    float: left;
    height: 40px;
}

div#logo h1 {
    font-size: 38px;
    font-weight: normal;
    color: #1E1E1E;
}

div#logo a {
    text-decoration: none;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

#top-menu,
#top-tags,
#breadcrumbs,
#paginator {
    height: 50px;
    margin: 10px auto;
    width: 1000px;
}

#breadcrumbs {
    height: 25px;
    text-align: left;
    font-size: 13px;
    margin-bottom: 15px;
}

#top-tags {
   
    background: #EEEFF0;
    padding-left: 15px;
    text-align: center;
    border: 1px solid #C3C3C3;
}

#menu-divider {
    border-right: 1px solid #BBBBBB;
    float: left;
    height: 50px;
    margin: 0 25px;
}

#menu-links {
    float: left;
    height: 40px;
    margin: 10px 0 10px;
}

#tags-links {
    float: left;
    margin: 5px 0 5px;
}



#menu-links ul,
#tags-links ul {
    margin: 0;
    padding: 0;
}

#menu-links li,
#tags-links li {
    display: block;
    float: left;
    height: 40px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    position: relative;
}

#menu-links ul > li a,
#tags-links ul > li a {
    font-weight: bold;
    position: relative;
}

#menu-links li a,
#tags-links li a {
    color: #333333;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    text-decoration: none;
}

#tags-links li {
    color: #dadada;
    font-weight: normal;
}

#tags-links li a {
    color: #fafafa;
    font-weight: normal;
}

#header-search {
    display: block;
    float: right;
    padding: 18px 0 0;
}

#header-search input {
    border: 1px solid #BBBBBB;
    height: 23px;
    padding: 6px;
    width: 200px;
}

form div {
    position: relative;
}

#header-search input#searchsubmit {
    background-color: #EDEDED;
    color: #333333;
    cursor: pointer;
    font-weight: bold;
    height: 37px;
    left: -5px;
    position: relative;
    width: 57px;
}

ul {
    list-style-type: none;
}



.footer {
    background: none repeat scroll 0 0 #2871C1;
    color: #dadada;
    height: 100px;
    text-align: right;
    margin-top: auto;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 13px;
    
}

.footer a {
    color: #fafafa;
}
